body {
  font-family: Helvetica,Arial,sans-serif;
}

span.error {
  color: #a94442;
  text-align: left;
  font-size: 1vm;
}
/*@media (min-width: 1200px) {*/
  /*.container{*/
    /*max-width: 1100px;*/
  /*}*/
/*}*/
.method-radio {
  margin: 0 0.3em 0 0.3em;
}
.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 10px 15px;
  transform: translate(0%, -50%);
  font-size: 20px;
}

.close:hover {background: #bbb;}